@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

    .cards__info-title {
        font-size: 18px;
    }

    .cards__info-desc {
        font-size: 14px;
    }

    .cards__contacts-title {
        font-size: 18px;
    }

    .cards__contacts-desc {
        font-size: 14px;
    }

    .span1 {
        font-size: 14px;
    }

    .span2 {
        font-size: 14px;
    }

}
@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .cards__info {
        padding: 45px 85px 45px 35px;
    }

    .cards__contacts {
        padding: 45px 20px 0px 35px;
    }

    .span1 {
        margin-top: 20px;
    }
    
    .span2 {
        margin-top: 20px;
    }

}
@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .banner__img {
        height: 80vh;
    }
}
@media(max-width: 576px) {
    .container {
        max-width: auto;
    }

    .header__logo {
        margin-bottom: 60px;
    }


}

@media(max-width: 320px) {
    .header__logo {
        margin-bottom: 40px;
    }

    .header__logo-img{
        width: 80px;
    }

    .header__list {
        margin-bottom: 20px;
        row-gap: 15px;
    }

    .header__link {
        font-size: 13px;
    }

    .banner__img {
        height: 40vh;
    }

}