@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header__list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
    }

}
@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .banner__img {
        height: 80vh;
    }
}
@media(max-width: 576px) {
    .container {
        max-width: auto;
    }

    .header__logo {
        margin-bottom: 60px;
    }


}

@media(max-width: 320px) {
    .header__logo {
        margin-bottom: 40px;
    }

    .header__logo-img{
        width: 80px;
    }

    .header__list {
        margin-bottom: 20px;
        row-gap: 15px;
    }

    .header__link {
        font-size: 13px;
    }

    .banner__img {
        height: 60vh;
    }

}